In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("BankNote_Authentication.csv")

In [4]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [6]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [5]:
df.shape

(1372, 5)

# Independent and Dependent features

In [11]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [13]:
x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [14]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

# Train Test split

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3,random_state=0)

# Implement random forest classifier

In [18]:
from sklearn.ensemble import RandomForestClassifier
classifier= RandomForestClassifier()
classifier.fit(x_train,y_train)

RandomForestClassifier()

# Prediction

In [19]:
y_pred=classifier.predict(x_test)

# Check accuracy

In [20]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [21]:
score

0.9902912621359223

# Create a pickle file using serialization

In [23]:
import pickle
pickle_out= open("classifier.pkl","wb")
pickle.dump(classifier,pickle_out)
pickle_out.close()